<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        margin:0px;
        padding:0px;
    }
    nav{
        background: #000;
        margin:10px;
        padding:10px;
    }
    ul{
        display: flex;
        
        list-style:none;
        justify-content:space-evenly;
    }
    a{
        color:#fff;

    }
</style>
<body>
    <nav class="nav">
        <ul class="u1">
            <a href="home"><li>Home</li></a>
            <a href="complaints"><li>Post a Complaint</li></a>
            <a href="signup"><li>SignUp</li></a>
            <a href="signin"><li>SignIn</li></a>
        </ul>
        
    </nav>
    <form action="/home" method="post">
        
        
        <h1>Welcome to homepage</h1>
    </form>
</body>
</html>